<%- include('layouts/header') %>

<div class="alert alert-dismissible alert-danger">
	<strong><%= error.status %></strong> <%= message %> .
</div>


<%- include('layouts/footer') %>
<%- include('layouts/end') %>