
<%- include('layouts/header') %>

<div class="Card ProfileMain">
	<div class="ProfileMain-header">
		<ul role="tablist" class="Tabs ProfileMain-tabs">
			<li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Profile-following">
				<a class="Tabs-link is-active" href="#">知乎用户榜</a>
			</li>
			<li style="float: right; padding-top: 10px;">
				<div class="btn-group">
                  <a href="#" class="btn btn-primary"><%= subtitle %></a>
                  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/zhihu/questions/top_follower_count">按关注者人数</a></li>
                    <li><a href="/zhihu/questions/top_answer_count">按获得赞同数</a></li>
                  </ul>
                </div>
			</li>
		</ul>
	</div>
		<div class="List" id="main-context">
			<div class="List-item" v-for="item in items">
	  			<div class="PortraitItem">
	  				<div class="ContentItem PortraitItem-content">
	  					<h2 class="ContentItem-title">
	  						<div class="UserItem-title">
	  							<span class="UserLink UserItem-name">
	  								<div class="Popover">
	  									<div>
	  										<a class="UserLink-link" target="_blank" v-bind:href="'https://www.zhihu.com/question/' + item.id">{{item.title}}</a>
	  									</div>
	  								</div>
		  						</span>
		  					</div>
		  				</h2>
		  				<div class="ContentItem-status">
		  					<span class="ContentItem-statusItem"> 关注者 {{item.follower_count}} 人</span>
		  					<span class="ContentItem-statusItem"> 回答 {{item.answer_count}} </span>
		  					<span class="ContentItem-statusItem">其中被 {{new Date(item.created).toLocaleString()}}</span>
		  					<span class="ContentItem-statusItem">其中被 {{new Date(item.lastUpdateTime).toLocaleString()}}</span>
		  				</div>
	  				</div>
	  			</div>
			</div>
		</div>
		<%- include('components/pager') %>
</div>

<%- include('layouts/footer') %>
<script type="text/javascript" src="/javascripts/zhihu/questions/<%= name %>.js"></script>
<script type="text/javascript" src="/javascripts/zhihu.js"></script>
<%- include('layouts/end') %>